*{
    margin: 0;
}
.container{
    background-color: blueviolet;
    height: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,2fr);
    gap:2px;
}
.box4,.box1,.box2,.box3,.box5{
    background-color: aquamarine;
    border:2px solid black;
 
}
.box1,.box5{
grid-column-start: 1;
grid-column-end: 6;
}
.box2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:4;
}
.box3{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:4;
}
.box4{
    grid-row-start: 2;
    grid-row-end:4;
}
